

body {
}
.footerlinks {
    color: #ffffff;
    text-decoration: none !important;
}

    .footerlinks:hover {
        color: #000000;
    }

#footer1 {
    background: #228B22;
    position :relative;
    bottom: 4%;
    left: 0;
}

#footer2 {
    background: #008000;
    position:relative;
    left: 0;
    bottom: 0;
}

#prepUB {
    margin-bottom:10%;
    object-fit:fill:
}
